body {
    background-image: url("image2.webp");
    background-position: center;
    background-size: cover;
    height: 100vh;
}

.page-container {
    background-color: antiquewhite;
    color: green;
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 600px;
   

}